{% extends 'fooodie/base.html' %} 
{% load staticfiles %}
{% block title_block %}
Add a profile picture
{% endblock %} 
{% block body_block %}
	<section class="mosh-portfolio-area section_padding_100_0 clearfix">
		<h1>Upload food photo</h1>
		{% if added %}
			Fooodie says: <strong>Thank you for uploading a food photo!</strong>
			<a href="{% url 'fooodie:home' %}">Return to the homepage.</a><br />
		{% else %}
			<strong>Add a food photo here!</strong><br />
			<form id="food_pic_form" method="post" action="{% url 'fooodie:addfoodphoto' %}" enctype="multipart/form-data">
				{% csrf_token %}
				{{ food_pic_form.as_p }}
				<input type="submit" name="submit" value="Add food Pic"/>
			</form>
		{% endif %}
	</section>
{% endblock %}