{% extends 'fooodie/base.html' %} 
{% load staticfiles %}
{% block title_block %}
Add a profile picture
{% endblock %} 

{% block body_block %}
<section class="section_padding_100_0 clearfix">
	<div id="fooodie-page">
		<a href="#" class="js-fooodie-nav-toggle fooodie-nav-toggle"><i></i></a>
		<aside id="fooodie-aside" role="complementary" class="text-center">
			{% if profile.picture %}
				<h1 id="fooodie-logo"><a href="/#"><span class="img" style="background-image: url({{ profile.picture.url}});"></span>{{ user.username }}</a></h1>
			{% else %}
				<h1 id="fooodie-logo"><a href="/#"><span class="img" style="background-image: url({% static 'images/defaultprofilefoto.jpg' %});"></span>{{ user.username }}</a></h1>
			{% endif %}
			<nav id="fooodie-main-menu" role="navigation">
				<ul>
					<li> <a href="{% url 'fooodie:settingsprofilepic' %}"> Upload a profile Picture</a></li>
					<li><a href="{% url 'fooodie:addfoodphoto'%}">Upload a food plate</a></li>
					<li><a href="{% url 'fooodie:settings' %}">Settings</a></li>
				</ul>
			</nav>
		</aside> <!-- END fooodie-ASIDE -->
		
		<div id="fooodie-main">
			<section class="ftco-section ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text justify-content-center align-items-center">
						<div class="col-md-8">
							<h1 class="bread">My Profile</h1>
						</div>
					</div>
				</div>
			</section>
			<h1>Add pro pic</h1>
		{% if added %}
			Fooodie says: <strong>Thank you for adding a profile picture!</strong>
			<a href="{% url 'fooodie:home' %}">Return to the homepage.</a><br />
		{% else %}
			<strong>Add a profile picture here!</strong><br />
			<form id="profile_pic_form" method="post" action="{% url 'fooodie:settingsprofilepic' %}" enctype="multipart/form-data">
				{% csrf_token %}
				{{ profile_pic_form.as_p }}
				<input type="submit" name="submit" value="Add Profile Pic" />
			</form>
		{% endif %}
		</div><!-- END fooodie-MAIN -->
	</div><!-- END fooodie-PAGE -->
</section>
{% endblock %}
