{% extends 'fooodie/base.html' %} 
{% load staticfiles %}
{% block title_block %}
Add a Page
{% endblock %} 
{% block body_block %}
	<h1>Register for Rango</h1>
	{% if added %}
		Fooodie says: <strong>Thank you for adding a photo!</strong>
		<a href="/fooodie/">Return to the homepage.</a><br />
	{% else %}
		<strong>Add a photo here!</strong><br />
		<form id="photo_form" method="post" action="{% url 'fooodie:addfoodphoto' %}" enctype="multipart/form-data">
			{% csrf_token %}
			{{ photo_form.as_p }}
			<input type="submit" name="submit" value="Add Photo" />
		</form>
	{% endif %}
{% endblock %}
</html>
