{% extends 'fooodie/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Homepage
{% endblock %}

	
{% block body_block %}
	<h1 style="font-size:50px;" align="center";> Would You Rather Eat:</h1>
	<!--<div class="choice-box">
		<div class="img-box clearfix">
			<div class"photo">
				<a href="#" class="a">
					<span class="line">line</span>
					<img src="https://upload.wikimedia.org/wikipedia/commons/d/d8/Yum_pladook_foo.jpg" alt="image">
					<span class="option">food</span>
				</a>
		</div>
		<div class="photo right">
			<a href="#" class="b">
				<span class="line">line</span>
				<img src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="image">
				<span class="option">food</span>
			</a>
			</div>
			<div class="or">
				<strong>OR</strong>-->

{% endblock %}
