{% extends 'fooodie/base.html' %}
{% load static %}

{% block title_block %}
	Homepage
{% endblock %}


{% block body_block %}


    <!-- ***** Random Pics Area Start ***** -->
    <section class="section_padding_100_0 clearfix">
	<h1 style="font-size:50px; font-weight: 800;" align="center";> Would You Rather Eat:</h1>
		<section class="section_padding_50_20 clearfix">
			<div class="photograhy">
				<div class="row question" >
					
						<!-- Single gallery Item Start -->
						<div class="col-6">
							<a id="photo1pic" href="{{ photo1.photo.url }}" class="photography-entry img image-popup d-flex justify-content-start align-items-end" style="background-image: url({{ photo1.photo.url }});">
								<div class="overlay"></div>
								<div class="text ml-4 mb-4">
									<h3 id="photo1name">{{ photo1.name }}</h3>
									<span id="photo1author" class="tag">Author: {{ photo1.user.user.username }}</span>
									<br>
									<span id="photo1_likes" class="tag">Number of votes: {{ photo1.votes }}</span>
									<br>
								</div>
							</a>
							<button id="like_photo1_btn" data-photoid="{{ photo1.id }}" class="fooodie-btn btn-primary btn-sm" type="button"> 
								<i class="fas fa-thumbs-up"></i> 
									</button>
								</div>
								
								<div class="or"></div>
								<div class="col-6">
							
							
							<a id="photo2pic" href="{{ photo2.photo.url }}" class="photography-entry img image-popup d-flex justify-content-start align-items-end" style="background-image: url({{ photo2.photo.url }});">
								<div class="overlay"> </div>
								<div class="text ml-4 mb-4">
									<h3 id="photo2name">{{ photo2.name }}</h3>
									<span id="photo2author" class="tag">Author: {{ photo2.user.user.username }}</span>
									<br>
									<span id="photo2_likes" class="tag">Number of votes: {{ photo2.votes }}</span>
									<br>
								</div>
							</a>
							<button id="like_photo2_btn" data-photoid="{{ photo2.id }}" class="fooodie-btn btn-primary btn-sm" type="button"> 
								<i class="fas fa-thumbs-up"></i> 
									</button>
						</div>
				</div>
			</div>
		</section>

<div class="section-heading text-center" style= "margin-top: 45px;"	>
<h3>Some Random Pictures of Our Users</2>

        <section class="fooodie-portfolio-area section_padding_50_20 clearfix">
			<div class="photograhy">
				<div class="row">
					{% for pic in random_pics %}
						<!-- Single gallery Item Start -->
						<div class="col-md-4">
										<a href="{{ pic.photo.url }}" class="photography-entry img image-popup d-flex justify-content-start align-items-end" style="background-image: url({{ pic.photo.url }}); height: 250px;">
										<div class="overlay"> </div>
											<div class="text ml-3 mb-3">
												<h3>{{ pic.name }}</h3>
												<span class="tag">Author: {{ pic.user.user.username }}</span><br>
												<span class="tag">Number of votes: {{ pic.votes }}</span><br>
											</div>
										</a>
						</div>
					{% endfor %}
				</div>
				</div>
		</section>
        </div>
    </section>
    <!-- ***** Random Pics Area End ***** -->
{% endblock %}