{% extends 'fooodie/home.html' %}
{% load staticfiles %}


	<head lang="en">
		<meta charset="UTF-8" />

		{% block title_block %}
		Leaderboard
		{% endblock %}

{% block body_block %}
<h1>THIS IS THE LEADERBOARD TEMPLATE</h1>
	<p>I was just testing and going through Django setup</p>
		<div>
			<img src ="{%static 'images/rango.jpg' %}"
			     alt = "Picture of Rango" />
        </div>

	<body>
		<h2> Here are the top ranking users </h2>
		<div>
			{% if top_profiles %}
				<ul>
				{% for profile in top_profiles %}
					<li>{{ profile.user.username}}</li>
				{% endfor %}
				</ul>
			{% else %}
				<strong>There are no profiles</strong>
			{% endif %}
		</div>
		<h2> Here are the top ranking photos </h2>
		<div>
			{% if top_pics %}
				{% for pic in top_pics %}
				<img src="{{ pic.photo.url }}" /> 
				<ul>
					<li>{{ pic.name }}</li>
					<li>{{ pic.user }}</li>
				</ul>
				{% endfor %}
			{% else %}
				<strong>There are no pictures</strong>
			{% endif %}
		</div>
{% endblock %}
