{% extends 'fooodie/home.html' %}
{% load staticfiles %}


		{% block title_block %}
		Leaderboard
		{% endblock %}

{% block body_block %}
<section class="section_padding_100_0 clearfix">
<div class="section-heading text-center">
<p><h1 style="font-size:65px; font-weight: 800; font-family:'Codebold';" align="center";>Leaderboard</h1></p>
<p><h1 style="font-size:25px; font-weight: 800; font-family:'Code';" align="center";>Our best users and the best pictures!</h1></p>
</div>

<div class="section-heading text-center">
		<div class="row">
			<div class="col">
				<div class="heading-leaderboard text-center">
				<h3 id="h3_heading" style = "text-decoration: underline; font-family:'Codebold';"> Our best users</h3>
				<div class="row">
					<div class="col">
							<div class="fooodie-window">
							  <div class="fooodie-window-body">
								<div class="gui-window-awards">
								  <ul class="fooodie-awards-row fooodie-awards-header">
									<li class="fooodie-awards-header-star">Profile pic</li>
									<li class="fooodie-awards-header-title">User</li>
									<li class="fooodie-awards-header-time">Total Votes</li>
									<li class="fooodie-awards-header-time">Position</li>
								  </ul>
								  {% if top_profiles %}
								  {% for profile, position in top_profiles %}
									<ul class="fooodie-awards-row fooodie-awards-row-even">
									  {% if profile.picture %}
										<li class="fooodie-awards-star"><img src="{{ profile.picture.url }}" class = "profile-pic-leaderboard"/></li>
									  {% else %}
										<li class="fooodie-awards-star"><img src="{% static 'images/defaultprofilefoto.jpg' %}" class = "profile-pic-leaderboard"/></li>
									  {% endif %}
									  <li class="fooodie-awards-title"><a href="{% url 'fooodie:userprofile' profile.slug %}">{{ profile.user.username }}</a>
									  {% if position == 1 %}
										<div class="fooodie-awards-subtitle">Our favorite</div>
										{% elif position == 2 %}
										 <div class="fooodie-awards-subtitle">Not the best but good enough</div>
										{% elif position == 3 %}
										<div class="fooodie-awards-subtitle">Third one, well done</div>
										{% else %}
										<div class="fooodie-awards-subtitle">Nahhh just another loser</div>
										{% endif %}
										</li>
										<li class="fooodie-awards-time">{{profile.totalVotes}}</li>
										<li class="fooodie-awards-time">{{ position }}º</li>
									  </ul>
								  {% endfor %}
								  {% else %}
									<strong>There are no profiles</strong>
								  {% endif %}
								</div>
							  </div>
							</div>
					</div>	
				</div>
				</div>
			</div>
			<div class="col">
				<h3 id="h3_heading" style = "text-decoration: underline; font-family:'Codebold';"> Top ranking photos </h3>
					<div class="section-heading text-center" style = "margin: 0;">
					{% if top_pics %}
						{% for pic in top_pics %}
						<div class="row">
										<a href="{{ pic.photo.url }}" class="photography-entry leaderboard img image-popup d-flex" 
										style="background-image: url({{ pic.photo.url }}); width: 75%; height: 265px; margin-bottom: 25px; margin-left: 15%;">
										<div class="overlay"> 
										{% if forloop.counter == 1 %}
										<span class="fooodie-awards-star"><img src="{% static 'images/1st.png' %}" style = "height: 30%; width: 25%;"/></span>
										{% elif forloop.counter == 2 %}
										<span class="fooodie-awards-star"><img src="{% static 'images/2nd.png' %}" style = "height: 30%; width: 25%;"/></span>
										{% else %}
										<span class="fooodie-awards-star"><img src="{% static 'images/3rd.png' %}" style = "height: 30%; width: 25%;"/></span>
										{% endif %}
										</div>
											<div class="text d-flex flex-column ml-4 mb-4 justify-content-end align-items-start">
												<h3>{{ pic.name }}</h3>
												<span class="tag">Author: {{ pic.user.user.username }}</span>
												<span class="tag">Posted: {{ pic.date }}</span>
												<span class="tag">Number of votes: {{ pic.votes }}</span>
												
											</div>
											
										</a>
						</div>
						{% endfor %}
					{% else %}
						<strong>There are no pictures</strong>
					{% endif %}
				
			</div>
		</div>
	</div>
	

</section>
{% endblock %}

