{% extends 'fooodie/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login/Register
{% endblock %}

{% block body_block %}
<section class="mosh-portfolio-area section_padding_150 clearfix">
<div class="section-heading text-center">
		<div class="row">
			<div class="col-6">
				<div class="card bg-light">
				<h4 class="card-title mt-3 text-center">Create Account</h4>
				<p class="text-center">Get started with your free account</p>
				<p>
					<a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Sign up via Google</a>
				</p>
				<p class="divider-text">
					<span class="bg-light">OR</span>
				</p>
				<form id="user_form" method="post" action="{% url 'fooodie:register' %}" enctype="multipart/form-data">
				{% csrf_token %}
				<article class="card-body mx-auto" style="max-width: 400px;">
					{% for field in user_form %}
					<div class="form-group input-group">
						<div class="input-group-prepend"></div>
						{{ field.errors }}
						{{ field.label_tag }}  {{ field }} 
					</div>
					{% endfor %}
					 {% for field in profile_form %}
					<div class="form-group input-group">
						<div class="input-group-prepend"></div>
						{{ field.errors }}
						{{ field.label_tag }} {{ field }}
						<div>
						</div>
					</div>
					{% endfor %}       
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
				</div> <!-- form-group// -->                                                                      
			</form>
			</article>
			</div> <!-- card.// -->
		</div>
		<div class="col-6">
			<div class="card bg-light">
					<h4 class="card-title mt-3 text-center">Do you have an account?</h4>
					<p class="text-center">Get started with your free account</p>
					<p>
						<a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Login via Google</a>
					</p>
					<p class="divider-text">
						<span class="bg-light">OR</span>
					</p>
					<form id="user_form" method="post" action="{% url 'fooodie:register' %}" enctype="multipart/form-data">
						<article class="card-body mx-auto" style="max-width: 400px;">
						{% csrf_token %}
						Username: <input type="text" name="username" value="" size="50" />
						<br />
						Password: <input type="password" name="password" value="" size="50" />
						<br />
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block"> Login  </button>
					</div> <!-- form-group// -->                                                                      
				</form>
				</article>
				</div> <!-- card.// -->
		
		</div>
	</div>
</div>
</section>
{% endblock %}