{% extends 'fooodie/base.html' %}
{% load static %}

<head lang="en">
		<meta charset="UTF-8" />

	{% block title_block %}
		MyProfile
	{% endblock %}

<!--Just a layout, with placeholders still need actual obejcts-->
{% block body_block %}
<section class="mosh-portfolio-area section_padding_100_0 clearfix">
	<div id="fooodie-page">
		<a href="#" class="js-fooodie-nav-toggle fooodie-nav-toggle"><i></i></a>
		<aside id="fooodie-aside" role="complementary" class="text-center">
			{% if profile.picture %}
				<h1 id="fooodie-logo"><a href="/#"><span class="img" style="background-image: url({{ profile.picture.url}});"></span>{{ user.username }}</a></h1>
			{% else %}
				<h1 id="fooodie-logo"><a href="/#"><span class="img" style="background-image: url({% static 'images/defaultprofilefoto.jpg' %});"></span>{{ user.username }}</a></h1>
			{% endif %}
			<nav id="fooodie-main-menu" role="navigation">
				<ul>
					{% if profile %}
					<li> <a href="{% url 'fooodie:settingsprofilepic' %}"> Upload a profile Picture</a></li>
					<li><a href="{% url 'fooodie:addfoodphoto'%}">Upload a food plate</a></li>
					<li><a href="/fooodie/myprofile/settings/">Settings</a></li>
					{% else %}
						<strong>You're using a user that is NOT linked to a UserProfile, thus you have no profile picture options available</strong>
					{% endif %}
				</ul>
			</nav>
		</aside> <!-- END fooodie-ASIDE -->
		
		<div id="fooodie-main">
			<section class="ftco-section ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text justify-content-center align-items-center">
						<div class="col-md-8">
							<h1 class="bread">My Profile</h1>
						</div>
					</div>
				</div>
			</section>
			Your username: </br>
				{{ profile.user.username }} </br>
				<a class="nav-link" href="{% url 'fooodie:settingsusername' %}">Change your username</a>
				Your email: </br>
				{{ profile.user.email }} </br>
				<a class="nav-link" href="{% url 'fooodie:settingsemail' %}">Change your email</a>
				Your profile picture: </br>
				{% if profile.picture %}
					{{ profile.picture }} </br>
				{% else %}
					You don't have a profile picture </br>
				{% endif %}
				<a class="nav-link" href="{% url 'fooodie:settingsprofilepic' %}">Change your profile picture</a> 
				Click here if you wish to change your password!
				<a class="nav-link" href="{% url 'fooodie:settingspassword' %}">Change your password</a> </br>
				</br></br>
		</div><!-- END fooodie-MAIN -->
	</div><!-- END fooodie-PAGE -->
</section>
{% endblock %}
