{% extends 'fooodie/base.html' %}
{% load static %}

	{% block title_block %}
		MyProfile
	{% endblock %}

<!--Just a layout, with placeholders still need actual obejcts-->
{% block body_block %}
<section class="section_padding_100_0 clearfix">
	<div id="fooodie-page">
		<a href="#" class="js-fooodie-nav-toggle fooodie-nav-toggle"><i></i></a>
		<aside id="fooodie-aside" role="complementary" class="text-center">
			{% if profile.picture %}
				<h1 id="fooodie-logo"><span class="img" style="background-image: url({{ profile.picture.url}});"></span>{{ user.username }}</h1>
			{% else %}
				<h1 id="fooodie-logo"><span class="img" style="background-image: url({% static 'images/defaultprofilefoto.jpg' %});"></span>{{ user.username }}</h1>
			{% endif %}
			<nav id="fooodie-main-menu" role="navigation">
				<ul>
					<li> <a href="{% url 'fooodie:settingsprofilepic' %}"> Upload a profile Picture</a></li>
					<li><a href="{% url 'fooodie:addfoodphoto'%}">Upload a food plate</a></li>
					<li><a href="{% url 'fooodie:settings' %}">Settings</a></li>
				</ul>
			</nav>
		</aside> <!-- END fooodie-ASIDE -->
		
		<div id="fooodie-main">
		
			<section class="ftco-bread">

						<div class="row no-gutters slider-text justify-content-center align-items-center" style = "position: relative; top: 0;">
							
								<h1 class="bread" style = "position: relative; top: 0; font-family:'Codebold';">My Profile - Settings</h1>
								
						</div>
			</section>
			<div class="section-heading text-center">
				<div class="tab-content py-4">
					<div class="tab-pane active">
						<h3 class="mb-3" style ="text-decoration: underline;">User Profile Settings</h3>
						<div class="row">
							<div class="col">
								<h6>Your username:</h6> {{ profile.user.username }}
								<p>
									<a class="nav-link-settings" href="{% url 'fooodie:settingsusername' %}">Change your username</a>
								</p>
								{% if profile.picture %}
									<h6>Your profile picture:</h6> <h1 id="fooodie-picture"><span class="img" style="background-image: url({{ profile.picture.url}});"></span></h1>
								{% else %}
									<h6>Your profile picture:</h6> You don't have a profile picture
								{% endif %}
								<p>
									<a class="nav-link-settings" href="{% url 'fooodie:settingsprofilepic' %}">Change your profile picture</a>
								</p>
								{% if profile.google %}
									<h6>Accounts made with google have no password nor an option to change your email.</h6> 
								{% else %}
									<h6>Your email:</h6> {{ profile.user.email }}
									<p>
										<a class="nav-link-settings" href="{% url 'fooodie:settingsemail' %}">Change your email</a>
									</p>
									<h6>Your password... Will not be displayed as that is very unsafe ;)</h6>
									<p>
										<a class="nav-link-settings" href="{% url 'fooodie:settingspassword' %}">Click here to change your password</a>
									</p>
								{% endif %}
								
								<span style = "color: red; font-weight: 700; font-size: 25px;">DELETE ACCOUNT:</span><br>
								<span style = "color: black; font-weight: 500;">IF YOU WISH TO DELETE YOUR ACCOUNT CLICK ON THE BUTTON BELOW. </span><br>
								
									
									<button class = "buttonDelete" onclick="document.getElementById('id01').style.display='block'">Delete your account</button>

									<div id="id01" class="modal">
									  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
									  <form class="modal-content" action="/action_page.php">
										<div class="container">
										  <h1>DELETE ACCOUNT</h1>
										  <span style = "color: black; font-weight: 500;">ONCE DONE <strong>ALL</strong> YOUR PHOTOS AND VOTES WILL BE DELETED. YOUR PROGRESS HERE WILL DISSAPPEAR.</span> <br>
											<span style = "color: black; font-weight: 500;">WE'LL MISS YOU :(</span>

										  <div class="clearfix">
											<a   class="cancelbtn" href="{% url 'fooodie:settings' %}" >Keep posting amazing pictures</a>
											<span>    </span><span>    </span><span>    </span>
											<a  class="deletebtn" href="{% url 'fooodie:deleteaccount' %}">Delete my account</a>
										  </div>
										</div>
									  </form>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END fooodie-MAIN -->
	</div><!-- END fooodie-PAGE -->
</section>
{% endblock %}
