{% extends 'fooodie/base.html' %}
{% load staticfiles %}

<head lang="en">
		<meta charset="UTF-8" />

	{% block title_block %}
		MyProfile
	{% endblock %}

<!--Just a layout, with placeholders still need actual obejcts-->
{% block body_block %}
<h1>My Profile</h1>
<h2>User Picture: User Name</h2>
<h3>Upload a profile Picture</h3>
<h3><strong> <a href="{% url 'fooodie:add_food_photo'%}">Upload a food plate</a> </strong> </h3>
	<p>
	<body>
		<div>
		{% if photos %}
			<ul>
				{% for pic in photo%}
					{% if pic.user == userloggedin %}
						<!-- Actual food photo -->
						<li>{{ pic.name }}</li>
						<img src="{{ pic.picture.url }}" />
					{% endif %}	
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no pictures</strong>
		{% endif %}
		</div>
{% endblock %}

